@import "grid";

$primary-colors: mintcream, teal, gold, tomato;

.primary-color {
  height: 50px;
}

@for $i from 1 through 4 {
  .primary-colors .column-3:nth-child(#{$i+1}){
    .primary-color {
      background-color: nth($primary-colors, $i);
    }
    &:after {
        content: "#{nth($primary-colors, $i)}";
      }
  }
 }
